obsidian-all-sync/outbound.json
{
  "createdAt": "2025-07-19T18:46:39.116Z",
  "updatedAt": "2025-07-20T15:29:14.000Z",
  "id": "HnalopAXDSdxGdUR",
  "name": "outbound",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-outbound",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ba6be446-ecc9-4816-944c-be9f0ae81945",
      "name": "Webhook",
      "webhookId": "0eb02f06-65c9-4cb9-ab1c-ba2153cfede1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.changes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "359b408b-6964-43f2-a5d7-89160e836695",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2d452cf-8b51-4d42-aa62-f7347453a4ac",
              "name": "filepath",
              "value": "={{ $json.filePath }}",
              "type": "string"
            },
            {
              "id": "09ab623c-6a94-4b0b-8758-735b0aba708b",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "number"
            },
            {
              "id": "1a9db50a-db17-40fc-b506-7d8da084a27d",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "100bd7eb-0c0d-40e9-a402-a3474b3321b3",
              "name": "filename",
              "value": "={{ $json.fileName }}",
              "type": "string"
            },
            {
              "id": "1bb2c390-80f2-4581-9f5a-3eed1f5c0102",
              "name": "folder",
              "value": "={{ $json.folder }}",
              "type": "string"
            },
            {
              "id": "ca548508-d633-4e80-bd78-aefbdb8bd659",
              "name": "id",
              "value": "={{ $json.oldPath ?? $json.filePath }}",
              "type": "string"
            },
            {
              "id": "57b79508-03bb-4044-8ae9-ee6d12fb7a48",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "7ecf78b5-2ce2-466b-894e-4f778509e6cf",
      "name": "data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2ceb6075-aeb8-44e3-85b3-cb42bc1e2db5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6d016c5-b294-45da-b738-bd69049e466b",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6aef381-1040-4b7f-a107-8104244460c3",
                    "leftValue": "={{ $json.type != 'create' && $json.type != 'delete' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        0
      ],
      "id": "539c8cb9-e457-4787-ac54-33ae756cc9e5",
      "name": "Switch"
    },
    {
      "parameters": {
        "tableId": "obsidian_notes",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "id, type"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -208
      ],
      "id": "d3db1d2e-820d-4967-a8d2-7a28fd568a27",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "QFxybPw57g45NIOT",
          "name": "Supabase account - n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "obsidian_notes",
        "filters": {
          "conditions": [
            {
              "keyName": "filepath",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "id, type"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        208
      ],
      "id": "0b7aa376-cb04-482c-9061-0634dbdcd9fd",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "QFxybPw57g45NIOT",
          "name": "Supabase account - n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "obsidian_notes",
        "filters": {
          "conditions": [
            {
              "keyName": "filepath",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "7c3f002a-a2ca-43f2-ac9a-0be4e03653fe",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "QFxybPw57g45NIOT",
          "name": "Supabase account - n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba388d57-842f-4480-8876-6b83de9e4db4",
              "leftValue": "={{ $json.body.isInitialSync }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "23dbc766-4cbc-438e-8257-dac7cc124aac",
              "leftValue": "={{ $json.body.isInitialSync }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -240
      ],
      "id": "4d00ea79-67c5-4c33-ac24-ceaf51443841",
      "name": "If initial sync?"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "obsidian_notes",
        "filters": {
          "conditions": [
            {
              "keyName": "size",
              "condition": "gte",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        -336
      ],
      "id": "9a27006f-d317-42d2-aba7-60993bad6cbf",
      "name": "Delete all notes",
      "credentials": {
        "supabaseApi": {
          "id": "QFxybPw57g45NIOT",
          "name": "Supabase account - n8n"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "If initial sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If initial sync?": {
      "main": [
        [
          {
            "node": "Delete all notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "nocoden8n.win",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) obsidian/1.8.10 Chrome/132.0.6834.196 Electron/34.2.0 Safari/537.36",
            "content-length": "1137",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "ko",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "59.18.234.70",
            "cf-ipcountry": "KR",
            "cf-ray": "961d09a348012f74-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "app://obsidian.md",
            "priority": "u=1, i",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "162.158.187.64",
            "x-forwarded-host": "nocoden8n.win",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c0ad4ebc0534",
            "x-real-ip": "162.158.187.64"
          },
          "params": {},
          "query": {},
          "body": {
            "timestamp": "2025-07-19T20:41:03.888Z",
            "isInitialSync": true,
            "changes": [
              {
                "type": "create",
                "filePath": "test/test3.md",
                "timestamp": "2025-07-19T20:41:03.885Z",
                "ctime": 1752956769849,
                "mtime": 1752956769849,
                "size": 0,
                "content": "",
                "fileName": "test3.md",
                "folder": "test"
              },
              {
                "type": "create",
                "filePath": "test/test2.md",
                "timestamp": "2025-07-19T20:41:03.885Z",
                "ctime": 1752956767531,
                "mtime": 1752956767531,
                "size": 0,
                "content": "",
                "fileName": "test2.md",
                "folder": "test"
              },
              {
                "type": "create",
                "filePath": "document2.md",
                "timestamp": "2025-07-19T20:41:03.885Z",
                "ctime": 1752954405807,
                "mtime": 1752956078047,
                "size": 31,
                "content": "# Document 4\\n\\nMore content...",
                "fileName": "document2.md",
                "folder": "/"
              },
              {
                "type": "create",
                "filePath": "folder/subfolder/test1.md",
                "timestamp": "2025-07-19T20:41:03.885Z",
                "ctime": 1752956764860,
                "mtime": 1752956764860,
                "size": 0,
                "content": "",
                "fileName": "test1.md",
                "folder": "folder/subfolder"
              },
              {
                "type": "create",
                "filePath": "folder/subfolder/document1.md",
                "timestamp": "2025-07-19T20:41:03.885Z",
                "ctime": 1752954405802,
                "mtime": 1752956078044,
                "size": 31,
                "content": "# Document 3\\n\\nContent here...",
                "fileName": "document1.md",
                "folder": "folder/subfolder"
              }
            ]
          },
          "webhookUrl": "https://nocoden8n.win/webhook/obsidian-outbound",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d8a7c626-8901-4a6f-9fb3-49842598998b",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-07-20T15:27:51.162Z",
      "updatedAt": "2025-07-20T15:27:51.162Z",
      "id": "XZGVwZDi61WSZ5YP",
      "name": "obsidian-all-sync"
    }
  ]
}