TTS/generate voice.json
{
  "createdAt": "2025-07-16T11:32:38.104Z",
  "updatedAt": "2025-07-21T14:57:57.000Z",
  "id": "cU7iWn8XX85N2zDE",
  "name": "generate voice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-voice/design",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "elevenLabsApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voice_description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "auto_generate_text",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        192
      ],
      "id": "2427f440-0c76-4590-972e-a7caa13a285f",
      "name": "HTTP Request",
      "credentials": {
        "elevenLabsApi": {
          "id": "qqsx2PWiSvLYh2sO",
          "name": "ElevenLabs account nocodeai.jimmy"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio_base_64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        768,
        192
      ],
      "id": "1a124517-e260-4bfc-90e6-f22749218284",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "previews",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        192
      ],
      "id": "10615ec0-efb9-4dfe-86b6-630b77711856",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-voice",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "elevenLabsApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voice_name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "voice_description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "generated_voice_id",
              "value": "={{ $json.generated_voice_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        608
      ],
      "id": "0883d789-d9fd-4e06-a417-cef4c8cf9029",
      "name": "HTTP Request1",
      "credentials": {
        "elevenLabsApi": {
          "id": "qqsx2PWiSvLYh2sO",
          "name": "ElevenLabs account nocodeai.jimmy"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        416
      ],
      "id": "2ad21fa7-bb1c-432d-94f0-df382ae7de43",
      "name": "Limit"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "name"
            },
            {
              "name": "description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        224
      ],
      "id": "ed5be4d3-2719-4c6e-8270-e02115cc14a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        608
      ],
      "id": "acbde7f1-aaef-43f2-b866-425bb4231b3d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd29199f-24ae-48e7-bbf7-78e9f26d1115",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        224
      ],
      "id": "e30388ea-ef47-4f26-ba79-63d4de625287",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        608
      ],
      "id": "7b4b568f-8889-41fb-9d2d-d5c666887f4e",
      "name": "Wait",
      "webhookId": "801213eb-e8d3-4e6c-b957-c6f3ab44080b"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "58f025e8-badf-4b90-94e9-e88753fce91e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-07-21T14:57:56.498Z",
      "updatedAt": "2025-07-21T14:57:56.498Z",
      "id": "OSprPbYtDkc7lq7v",
      "name": "TTS"
    }
  ]
}